@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* commun style & utility */

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

.container {
    background-color: white;
    width: 870px;
    padding: 30px;

}

/* player section  */

.top-player-title {
    color: #562EFF;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
}



.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;

}

.player {
    display: flex;
    align-items: center;

}


.player img {
    height: 56px;
    width: 56px;
}

.player-title{
    padding: 0px 15px;

}

hr{
   
    border: 0.01px solid #D1D1D1;
    margin-top: 20px;
}


/* ----------------------
Top blog style
-------------------------- */


.blog{
    display: flex;
}



.blog .thumbnail img {
    width: 224px;
    height: 127px;
}


.blog-info{
    margin-left: 16px;
}


.blog-title{
 
    
    font-size: 20px;
    font-weight: 500;

}


.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}

.blog-info a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF ;
    
}


.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}